* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.grid-area {
    display: grid;
    gap: 5px;
    grid-template-areas:
        "header header header"
        "main main main"
        "footer footer footer";
    height: 100vh;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
}

nav {
    grid-area: header;
    background: linear-gradient(to left, blue ,rgb(224, 219, 219));
    border-bottom: 2px solid black;
}

.lista {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 30px;
    padding: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
    list-style: none;
    
}

.menu {
    display: flex;
    flex-direction: row;
    margin: 20px;
    border: 2px solid black;
    border-radius: 5px;
    background: linear-gradient( rgb(160, 160, 163),white )
}




.menu:hover{
    transform: scale(1.5,1.5);
    transition: all 1s;
}

.imagen  {

    margin: auto;
    width: 75%;
    padding: 40px;
}

.menu a {
    text-decoration: none;
    color: black;
    padding: 5px;
    
}



.titulo {
    text-align: left;
    padding-top: 20px;
    margin-left: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: underline;
    color: rgb(68, 68, 189);
}

.main {
    display: flex;
    flex-direction: column;
    /* padding-bottom: 400px; */
    text-align: center;
    grid-area: main;
}


#pie {
    margin-top: 0px;
    text-align: left;
    background: linear-gradient(to left, blue ,rgb(224, 219, 219));
    border-top: 2px solid rgb(0, 0, 0);
    grid-area: footer;
    display: flex;
    flex-direction: column;
    align-items: left;

}



form div {
    margin: 10px;
}

form div textarea {
    margin-left: 5px;
    margin-bottom: 5px;
}

.aclaraciones {
    margin: 20px;
    margin-bottom: 5px;
}

.main h2 {
    text-decoration: underline;
}

.main h3 {
    text-decoration: underline;
    font-size: 20px;
}

.tienda {
    margin: 10px;
    margin-bottom: 5px;
}



.Tabla {
    border-spacing: 2px solid black;
    border: 3px solid black;
    background-color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}




.redesSociales {
    text-align: left;
    padding: 20px;
}



.lolo {
    display: flex;
}




@media screen and (max-width: 768px) {


    nav img {
        width: 40%;
    }

    .imagen img {
        display: flex;
        width: 240%;
        align-items: center;
        padding-top: 20px;
        margin: 5px;
    }


    .titulo {
        font-size: 25px;
        margin-left: 10px;
    }

    .lista {
        align-items: center;
    }

    .menu {

        display: flex;
        padding: 2px;
        margin: 30px;
        font-size: 20px;
    }

    .main {
        padding-bottom: 200px;
    }

    #pie {
        display: flex;
        font-size: 15px;
    }

    .redesSociales li {
        font-size: 20px;
    }

    .redesSociales li img {
        width: 5%;
    }

}



@media screen and (max-width: 480px) {

    header img {
        width: 100%;
    }


    header div img {
        width: 50%;
    }

    .titulo {
        font-size: 30px;
        margin-left: 5px;
    }

    .lista {
        flex-direction: column;
        align-items: center;
    }

    .imagen img {
        display: flex;
        width: 90%;
        align-items: center;
        padding-top: 20px;
        margin: 5px;
    }

    .menu {
        display: flex;
        padding: 2px;
        margin: 30px;
        font-size: 30px;
    }

    .main {
        padding-bottom: 100px;
    }


    #pie {
        display: flex;
        font-size: 15px;
        align-items: center;
    }

    .subtitulo {
        padding-top: 10px;
    }

    .redesSociales li {
        font-size: 25px;
    }

    .redesSociales li img {
        width: 10%;
    }

}