@import "import";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.grid-area {
    display: grid;
    gap: 5px;
    grid-template-areas:
        "header header header"
        "main main main"
        "footer footer footer";
    height: 100vh;
    grid-row-gap: 10px;
    grid-column-gap: 10px;

    nav {
        background: $colorNav;
        border-bottom: $bordePrincipal;
        grid-area: header;

        .container {

            .lista {

                margin-top: 30px;
                padding: 30px;
                font-family: $fontPrincipal;
                color: $colorLista;
                list-style: none;

                .menu {
                    display: flex;
                    flex-direction: row;
                    margin: 20px;
                    border: $bordePrincipal;
                    border-radius: 5px;
                    background: $colorMenu;

                    &:hover {
                        transform: scale(1.5, 1.5);
                        transition: all 1s;
                    }

                }
            }

        }
    }

    .main {
        display: flex;
        flex-direction: column;
        text-align: center;
        grid-area: main;

        .tituloPrincipal {
            text-align: center;
            padding-top: 20px;
            margin-left: 20px;
            font-family: $fontPrincipal;
            text-decoration: underline;
            color: $colorTitulo;
        }

        .titulo {
            text-align: left;
            padding-top: 20px;
            margin-left: 20px;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            text-decoration: underline;
            color: rgb(68, 68, 189);
        }

        .texto {
            text-align: center;
            font-family: $fontPrincipal;
            color: $colorTitulo;
            font-size: 20px;
        }

        .container {

            .carousel slide {

                .imagen {

                    margin: auto;
                    width: 75%;
                    padding: 40px;
                }
            }
        }

        & &__h2 {
            text-decoration: underline;
        }

        & &__h3 {
            text-decoration: underline;
            font-size: 20px;
        }

        & &__section {
            text-align: center;
            display: table;
            margin: 5px auto;
            color: black;
            background-color: rgb(68, 68, 189);

            // .Tabla {
            //     border-spacing: 2px solid black;
            //     border: 3px solid black;
            //     background-color: white;
            //     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            //     font-size: 20px;

            //     // .tabla tr td {
            //     //     border: 2px solid black;
            //     //     padding: 3px;
            //     //     background-color: white;
            //     // }

            //     // .tabla tr th {
            //     //     border: 2px solid black;
            //     //     padding: 3px;
            //     //     background-color: white;
            //     // }
            // }
        }

        .lolo {
            display: flex;

            .redesSociales {
                text-align: left;
                padding: 20px;
            }
        }

        form {
            & &__div {
                margin: 10px;

                & &__textarea {
                    margin-left: 5px;
                    margin-bottom: 5px;
                }
            }

            .aclaraciones {
                margin: 20px;
                margin-bottom: 5px;
            }

        }

    }

    #pie {
        margin-top: 0px;
        text-align: left;
        background: $colorPiedepagina;
        border-top: $bordePrincipal;
        grid-area: footer;
        display: flex;
        flex-direction: column;
        align-items: left;
    }

    .tienda {
        margin: 10px;
        margin-bottom: 5px;
    }
}

@media (max-width: $tamanoTablet) {

    nav {

        & &__img {
            width: 40%;
        }

        .container {


            .lista {
                display: flex;
                justify-content: space-around;

                .menu {
                    display: flex;
                    justify-content: space-around;
                    display: flex;
                    padding: 2px;
                    margin: 5px;
                    font-size: 25px;
                }
            }
        }
    }


    .main {
        padding-bottom: 200px;

        .titulo {
            font-size: 40px;
            margin-left: 5px;
        }

        .texto {
            text-align: center;
            font-family: $fontPrincipal;
            color: $colorTitulo;
            font-size: 5px;
        }

        .container {

            .carousel slide {

                .imagen {
                    margin: auto;
                    width: 100%;
                    padding: 20px;
                }
            }


        }

        .lolo {
            .redesSociales {
                & &__li {
                    font-size: 20px;

                    & &__img {
                        width: 5%;
                    }
                }
            }

        }
    }

    #pie {
        font-size: 15px;
    }

}

@media (max-width: $tamanoMobile ) {
    nav {

        & &__img {
            width: 100%;
        }

        & &__div img {
            width: 50%;
        }

        .container {

            .lista {
                display: flex;
                flex-direction: column;
                align-items: left;

                .menu {
                    justify-content: space-around;
                    flex-direction: column;
                    padding: 0px;
                    margin: 0px;
                    font-size: 15px;
                }
            }
        }
    }

    .main {
        padding-bottom: 100px;

        .titulo {
            font-size: 30px;
            margin-left: 5px;
        }

        .texto {
            text-align: center;
            font-family: $fontPrincipal;
            color: $colorTitulo;
            font-size: 10px;
        }

        .container {

            .carousel slide {


                .imagen {
                    display: flex;
                    width: 90%;
                    align-items: center;
                    padding-top: 20px;
                    margin: 5px;
                }
            }
        }

        .subtitulo {
            padding-top: 10px;
        }

        .lolo {
            .redesSociales {
                & &__li {
                    font-size: 25px;

                    & &__img {
                        width: 10%;
                    }
                }
            }

        }

    }


    #pie {
        align-items: center;
    }
}