@import "variables";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.grid-area {
    display: grid;
    gap: 5px;
    grid-template-areas:
        "header header header"
        "main main main"
        "footer footer footer";
    height: 100vh;
    grid-row-gap: 10px;
    grid-column-gap: 10px;

    nav {
        background: $colorNav;
        border-bottom: $bordePrincipal;
        grid-area: header;

        .container {

            .lista {
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                margin-top: 30px;
                padding: 30px;
                font-family: $fontPrincipal;
                color: $colorLista;
                list-style: none;

                .menu {
                    display: flex;
                    flex-direction: row;
                    margin: 20px;
                    border: $bordePrincipal;
                    border-radius: 5px;
                    background: $colorMenu;

                    &:hover {
                        transform: scale(1.5, 1.5);
                        transition: all 1s;
                    }

                }
            }

        }
    }

    .main {
        display: flex;
        flex-direction: column;
        text-align: center;
        grid-area: main;

        .titulo {
            text-align: left;
            padding-top: 20px;
            margin-left: 20px;
            font-family: $fontPrincipal;
            text-decoration: underline;
            color: $colorTitulo;
        }

        .container {

            .carousel slide {

                .imagen {

                    margin: auto;
                    width: 75%;
                    padding: 40px;
                }
            }
        }
    }

    #pie {
        margin-top: 0px;
        text-align: left;
        background: $colorPiedepagina;
        border-top: $bordePrincipal;
        grid-area: footer;
        display: flex;
        flex-direction: column;
        align-items: left;
    }
}

@media(max-width: $tamanoTablet) {
   
    nav {

        & &__img {
            width: 40%;
        }

        .container {


            .lista {
                align-items: center;


                .menu {

                    display: flex;
                    padding: 2px;
                    margin: 30px;
                    font-size: 20px;
                }
            }
        }
    }


    .main {
        padding-bottom: 200px;

        .titulo {
            font-size: 25px;
            margin-left: 10px;
        }

        .container {

            .carousel slide {

                .imagen {
                    margin: auto;
                    width: 100%;
                    padding: 20px;
                }
            }


        }
    }

    #pie {
        font-size: 15px;
    }

}

@media  (max-width: $tamanoMobile ) {
    nav {

        & &__img {
            width: 100%;
        }

        & &__div img {
            width: 50%;
        }

        

            .lista {
                flex-direction: column;
                align-items: left;

                .menu {   
                    flex-direction: column;
                    padding: 2px;
                    margin: 30px;
                    font-size: 30px;
                }
            }
    
    }

    .main {
        padding-bottom: 100px;

        .titulo {
            font-size: 30px;
            margin-left: 5px;
        }

        .container {

            .carousel slide {


                .imagen {
                    display: flex;
                    width: 90%;
                    align-items: center;
                    padding-top: 20px;
                    margin: 5px;
                }
            }
        }
    }


    #pie {
        align-items: center;
    }
}