$colorNav: linear-gradient(to left, blue, rgb(224, 219, 219));
$colorMenu: linear-gradient(rgb(160, 160, 163), white);
$colorTitulo: rgb(68, 68, 189);
$colorPiedepagina: linear-gradient(to left, blue, rgb(224, 219, 219));
$colorLista: black;

$fontPrincipal:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

$bordePrincipal: 2px solid black;

$tamanoTablet: 1028px;
$tamanoMobile: 480px;